.grata-reviews {
   background-color: #ffffff;
   padding-top: 60px;
   padding-bottom: 45px;

   @media only screen and (max-width: 992px) {
      padding: 60px 0;
   }

   .data-title {
      margin-top: 0;
      margin-bottom: 90px;
      font-size: 42px;
      line-height: 1.23;
      font-family: 'TildaSans', Arial, sans-serif;
      font-weight: 600;
      text-align: center;

      @media only screen and (max-width: 992px) {
         font-size: 35px;
         margin-bottom: 60px;
      }

      @media only screen and (max-width: 576px) {
         font-size: 30px;
         margin-bottom: 40px;
      }
   }

   .data-list {
      display: flex;
      flex-wrap: wrap;
      gap: 70px 40px;
   }

   .data-item {
      max-width: calc(33% - 24px);
      width: 100%;
      text-align: center;

      @media only screen and (max-width: 840px) {
         max-width: calc(50% - 24px);
      }

      @media only screen and (max-width: 576px) {
         max-width: 100%;
      }
   }

   .data-item-image {
      width: 120px;
      height: 120px;
      margin: 0 auto 18px;

      img {
         width: 100%;
         border-radius: 100px;
      }
   }

   .data-item-title {
      font-size: 16px;
      line-height: 1.35;
      font-weight: 600;
      margin-top: 0;
   }

   .data-item-description {
      max-width: 350px;
      margin-top: 12px;
      font-size: 15px;
      line-height: 1.55;
      font-weight: 300;

      @media only screen and (max-width: 576px) {
         max-width: 100%;
      }
   }
}