.data-form-wrapper {
   .data-block {
      &:not(:last-child) {
         margin-bottom: 25px;
      }
   }

   .data-input {
      padding: 12px;
      border: 1px solid #b3b3b3;
      border-radius: 8px;
      width: 100%;
      font-size: 16px;
      color: #333;
      line-height: 1.33;
      font-family: 'TildaSans', Arial, sans-serif;
      font-weight: 400;
      background-color: transparent;
      min-height: 60px;
   }

   .grata-button-wrapper {
      margin-top: 30px;

      @media only screen and (max-width: 840px) {
         text-align: center;
      }
   }

   .data-form-description {
      margin-top: 20px;
      font-size: 15px;
      line-height: 1.55;
      font-weight: 300;

      @media only screen and (max-width: 840px) {
         text-align: center;
      }
   }
}

.iti {
   width: 100%;
}