* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "TildaSans", Arial, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	background-color: #efefef;
	color: #000000;

	@media only screen and (max-width: 576px) {
		font-size: 14px;
	}
}

html.overflow-hidden,
body.overflow-hidden {
	overflow: hidden;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

iframe {
	max-width: 100%;
}

p,
ul,
ol {
	margin-bottom: 20px;
}

p:last-child,
ul:last-child,
ol:last-child {
	margin-bottom: 0;
}

input,
textarea {
	border-radius: 0; // Prevent IOS add border-radius by default to all input elements
}

a {
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	text-decoration: none;
}

.grata-body-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: space-between
}

.grata-container {
	width: 100%;
	max-width: 1240px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;

	@media only screen and (max-width: 767px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/** Heading */

h1,
.grata-h1,
h2,
.grata-h2,
h3,
.grata-h3,
h4,
.grata-h4,
h5,
.grata-h5,
h6,
.grata-h6 {
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 20px;
	line-height: normal;
}

h1,
.grata-h1 {
	font-size: 48px;
}

h2,
.grata-h2 {
	font-size: 35px;
}

h3,
.grata-h3 {
	font-size: 32px;
}

h4,
.grata-h4 {
	font-size: 29px;
}

h5,
.grata-h5 {
	font-size: 26px;
}

h6,
.grata-h6 {
	font-size: 24px;
}




strong,
b {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	// STYLES OF ALL LINKS GOES HERE
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

/*
* Messages
*/
.grata-form-message {
	margin-top: 10px;
	text-align: center;
	display: none;

	&.show {
		display: block;
	}

	&.success {
		color: green;
	}

	&.error {
		color: red;
	}
}

.grata-error-message {
	color: red;
	font-size: 14px;
}