/*
Mixin for styling form-placeholders
@example scss - Usage

   .my-class {
        background: black(0.15);
        color: white(0.9);
   }

*/
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}

	&::-moz-placeholder {
		opacity: 1;
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}

	&.placeholder {
		@content;
	}
}

/*
* Mixins
*/
@mixin grata-reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}